@media screen and (max-width: 760px){

    header{
        flex-direction: column;
        margin-left: -5rem;
    }
    

    main{
        flex-direction: column;
    }

    h2{
        font-size: 38px;
    }

    form{
        margin: 0 auto;
        width: 100%;
    }

    input{
        align-self: right;
    }

    img{
        display:flex;
        width: 560px;
        align-items: center;
        transform: translateY(0px);
        animation: float 5s ease-in-out infinite;
    }

    

    ul{
        text-align: right;
    }
}